.product-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;

  &__title-label {

  }

  &__title-field {

  }

  &__date-container {

  }

  &__date-from {

  }

  &__date-to {

  }
}
